.btn {
  border: none;
  padding: 0.5em;
  height: 36px;
  font-size: 1rem;
  border: 1px solid black;
  color: white;
  background: black;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  z-index: 2;
  &:hover {
    background-color: white;
    color: black;
  }
}
