.navbar-bg {
  z-index: 900;
  height: auto;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: white;
}

.menu-wrapper {
  .menu-icon {
    z-index: 999;
    stroke-width: 0.2;
    cursor: pointer;
    path {
      fill: black;
      stroke: black;
    }
  }
}

.container {
  justify-content: space-between;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
  .custom-link-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .custom-link {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 1em;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }

  .nav-container {
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    text-transform: uppercase;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    .close-icon-wrapper {
      text-align: left;
      margin-left: 2em;
      margin-top: 2em;
      .close-icon {
        position: absolute;
        cursor: pointer;
        path {
          stroke: #000000 !important;
        }
      }
    }
    .links-wrapper {
      display: flex;

      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: center;

      .nav-item-wrapper {
        margin-bottom: 2em;
        .nav-item {
          border: none;
          background: none;
          font-size: 1.3rem;
          padding: 11px 10px 11px 10px;
        }
        .contact {
          padding: 11px 15px 9px 11px;
          background-color: black;
          color: white;
        }

        .active-tab {
          font-weight: bold;
        }
        &:hover {
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.open-nav {
  transform: translateX(0%) !important;
}

@media (min-width: 600px) {
  .container {
    .custom-link-wrapper {
      .custom-link {
        font-size: 1.1rem;
      }
    }
  }
}
@media (min-width: 940px) {
  .navbar-bg {
    background-color: white;

    backdrop-filter: blur(0px);
  }

  .drop-shadow {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  }
  .container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .custom-link-wrapper {
      .custom-link {
        margin-left: 0;
      }
      svg {
        display: none;
      }
      .custom-link {
        display: unset;
      }
    }

    .nav-container {
      position: unset;
      background: none;
      width: auto;
      height: auto;

      transform: translateX(0);
      text-align: right;
      .close-icon-wrapper {
        display: none;
        svg {
          display: none;
        }
      }
      .links-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;

        .nav-item-wrapper {
          margin-left: 1.5em;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          .contact {
            padding: 10px 18px 10px 18px !important;
          }
          button {
            padding: 0;
          }

          .nav-item {
            padding: 10px 10px 10px 10px;
            span {
              font-size: 0.8rem;
              display: flex;
            }
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
