.wrapper {
  margin-top: 0em !important;
}

.skill-section {
  margin-top: 12em;
  background-color: #1d222f;
  color: white;
  text-align: center;
  .content-wrapper {
    padding-top: 6em;
    margin-top: 0 !important;
    padding-bottom: 6em;

    .flex-container {
      .skill-watermark-wrap {
        display: none;
      }
      .content {
        display: none;
      }
      .title-wrapper {
        margin-bottom: 3.6em;
        h2 {
          font-family: 'Playfair Display SC', serif;
          font-size: 3rem;
          margin-top: 0;
        }
        .accent-svg {
          position: absolute;
          transform: translate(-50%, -115%);

          path {
            fill: white !important;
          }
        }
        .skill-description {
          display: none;
        }
      }
    }

    .pagination-wrapper {
      margin-bottom: 10em;
      .pagination-title {
        font-size: 1.6rem;
      }
      .pagination-text {
        line-height: 1.3;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 5em;
      }
    }

    .icons-wrapper {
      display: grid;
      row-gap: 15px;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      max-width: 400px;
      margin: 0 auto;
      .github-icon {
        path {
          fill: white;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .skill-section {
    .content-wrapper {
      .flex-container {
        .title-wrapper {
          margin-bottom: 8em;
        }
        .content {
          display: grid !important;
          grid-template-columns: repeat(2, 1fr);
          margin: 0 auto;
          justify-items: center;

          width: auto;
          .content-item {
            width: 230px;
            .icon {
              display: flex;
              justify-content: flex-start;
            }
            .title {
              font-size: 1.6rem;
              text-align: left;
            }
            .text {
              text-align: left;
              line-height: 1.3;
              margin-bottom: 5em;
            }
          }
        }
      }
      .pagination-wrapper {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .skill-section {
    .content-wrapper {
      .icons-wrapper {
        grid-template-columns: repeat(8, 1fr) !important;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
      }
      .flex-container {
        display: flex;
        justify-content: space-between;
        .skill-watermark-wrap {
          display: block !important;
          position: absolute;
          left: 0;
          .skill-watermark {
            display: block !important;
            position: absolute;
            font-size: 25rem;
            transform: translateY(-800px);
            font-family: 'Playfair Display SC';
            font-weight: bold;
            letter-spacing: 0.1em;
            margin: 0;
            color: rgba(2, 2, 2, 0.07);
          }
        }
        .title-wrapper {
          margin-bottom: 0 !important;
          text-align: left;
          width: 300px;
          .accent-svg {
            transform: translate(0%, -115%) !important;
            svg {
              width: 160px;
            }
          }
          .skill-description {
            display: block !important;
            margin: 0;
            color: white;
          }
        }
        .content {
          margin: 0 !important;
          column-gap: 7em;
        }
      }
    }
  }
}
