.story-section {
  margin-bottom: 5em;
  .container {
    display: none;
  }
  .section-heading {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 15em;
    text-align: center;
  }

  .watermark-wrap {
    margin-bottom: 30em;

    .watermark {
      display: block !important;
      position: absolute;
      font-size: 10rem;
      transform: translateY(-1500px);
      font-family: 'Playfair Display SC';
      font-weight: bold;
      letter-spacing: 0.1em;
      margin: 0;
      color: rgba(2, 2, 2, 0.04);
      text-align: center;
    }
  }

  .pagination-content {
    text-align: center;

    .title {
      font-family: 'Playfair Display SC';
      font-size: 4rem;
      font-weight: 400;
    }
    .story-img {
      object-fit: cover;
      height: 550px !important;
      width: 100%;
      max-width: 400px !important;
      margin: 0 auto;
    }
    .description {
      font-size: 1.1rem;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
    }
    .pagination {
      margin-top: 3em;
    }
  }
}

@media (min-width: 800px) {
  .story-section {
    .watermark-wrap {
      .watermark {
        transform: translateY(-1600px);
      }
    }
    .pagination-content {
      display: none;
    }
    .container {
      display: grid;
      margin: 0 auto;
      [data-scroll] {
        transition: all 2s;
      }
      [data-scroll='in'] {
        opacity: 1;
        transform: translateX(0);
      }
      [data-scroll='out'] {
        opacity: 0;
        transform: translateX(-100px);
      }
      .grid-container {
        margin-bottom: 4em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        .img-zoom {
          overflow: hidden;
          .story-img {
            object-fit: cover;

            height: 600px !important;
            width: 100%;
            max-width: 400px !important;
            margin: 0 auto;
            transition: transform 0.5s ease;
          }
        }
        .img-zoom:hover .story-img {
          transform: scale(1.1);
        }
        .content-wrapper {
          text-align: left;
          .title {
            font-family: 'Playfair Display SC';
            font-size: 4rem;
            font-weight: 400;

            margin: 0;
          }
          .description {
            font-size: 1.1rem;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            max-width: 400px;
          }
        }
      }
      div:nth-child(2n) .content-wrapper {
        order: -1;
        text-align: left;
      }
      div:nth-child(2n) .story-img {
        order: 2;
      }
    }
  }
}

@media (min-width: 1100px) {
  .story-section {
    .watermark-wrap {
      .watermark {
        transform: translateY(-1450px);
        font-size: 20rem;
      }
    }
    .container {
      justify-content: center;
      .grid-container {
        gap: 400px !important;
      }
    }
  }
}
